settings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="width"/>
                            <xs:element type="xs:byte" name="height"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="columns">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title"/>
                                        <xs:element type="xs:byte" name="width"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>